$PRIMARY-COLOR: #8ABB3A;
$SECONDARY-COLOR: #050505;
$GRAY-COLOR: #333;
$WHITE-COLOR: #FFF;
$BACKGROUND-IMAGE-PRIMARY: linear-gradient(to left bottom, #051937, #0d152b, #0f1020, #0c0b15, #050505);
$CLIP-PATH-PRIMARY: polygon(0 0, 100% 0%, 100% 89%, 0% 100%);